# ---------------------------------------------------
# PAC-Tool: Version Alpha 0.3
# Configuration File generated: 22/01/2017 17:49:35
# ---------------------------------------------------
{
   "Enthalpy":{
      "fileNameSAT":"D:\/Users\/kluges1\/workspace\/pac-tool\/ressources\/R22\/SaturationCurve_R22.txt",
      "yPmax":60.0,
      "yPmin":0.5,
      "xHmax":520.0,
      "enthalpyBkgdImg":{
         "refCurveH1x":140,
         "refCurveH2x":520,
         "iBgP1y":1472,
         "iBgP2y":83,
         "refCurveP2y":100,
         "EnthalpyImageFile":"D:\/Users\/kluges1\/workspace\/pac-tool\/ressources\/R22\/R22 couleur A4.png",
         "iBgH2x":2791,
         "refCurveP1y":1,
         "iBgH1x":153},
      "nameRefrigerant":"R22",
      "deltaP":0.0,
      "xHmin":140.0,
      "fileNameTP":"D:\/Users\/kluges1\/workspace\/pac-tool\/ressources\/R22\/P2T_R22.txt"},
   "PrimeConfig":{
      "unitBTU":true,
      "unitPound":true,
      "unitFaren":true},
   "PacList":[
      {
         "Dehydrator":{
            "DeltaP":0.0,
            "DeltaT":0.0,
            "Name":"Dehydrator"},
         "FluidRefri":{
            "P":0.0,
            "T":0.0,
            "Name":"R22"},
         "CircuitD":{
            "DeltaP":0.0,
            "DeltaT":0.0,
            "Name":"Captage Sol"},
         "Condenser":{
            "DeltaP":0.0,
            "DeltaT":0.0,
            "Name":"Condenseur"},
         "CircuitS":{
            "DeltaP":0.0,
            "DeltaT":0.0,
            "Name":"Captage Sol"},
         "CirculatorS":{
            "Voltage":220.0,
            "Features":[
               {
                  "RotatePerMinutes":1620,
                  "Current":0.91,
                  "Power":190},
               {
                  "RotatePerMinutes":2420,
                  "Current":0.98,
                  "Power":226},
               {
                  "RotatePerMinutes":2710,
                  "Current":1.0,
                  "Power":236}],
            "Name":"DAB A 80\/180XM"},
         "FluidCaloS":{
            "P":0.0,
            "T":0.0,
            "Name":"Fluide caloporteur"},
         "FluidCaloD":{
            "P":0.0,
            "T":0.0,
            "Name":"Fluide caloporteur"},
         "Compressor":{
            "Evap":45.0,
            "Cond":130.0,
            "RG":65.0,
            "Liq":115.0,
            "Capacity":33300.0,
            "Voltage":220.0,
            "MassFlow":488.0,
            "Current":14.7,
            "Power":3000.0,
            "Name":"ZR40K3-PFG"},
         "Evaporator":{
            "DeltaT":0.0,
            "Name":"Evaporateur"},
         "CirculatorD":{
            "Voltage":220.0,
            "Features":[
               {
                  "RotatePerMinutes":1620,
                  "Current":0.91,
                  "Power":190},
               {
                  "RotatePerMinutes":2420,
                  "Current":0.98,
                  "Power":226},
               {
                  "RotatePerMinutes":2710,
                  "Current":1.0,
                  "Power":236}],
            "Name":"DAB A 80\/180XM"},
         "ExpansionValve":{
            "DeltaP":0.0,
            "DeltaT":0.0,
            "Name":"Capillaire"}}]}