<?xml version="1.0" encoding="UTF-8"?>
<!-- status will define the configuration level of log4j2 configuration file -->
<Configuration status="error" name="XMLPACTOOL">
	<Appenders>

		<!-- Create Log "Console" -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>

		<!-- Create Log File Log File will be created and added by to the logger 
			by program !! -->

	</Appenders>


	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>

		<Logger name="refrigerant" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="mpoints" level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="gui" level="trace" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

	</Loggers>

</Configuration>